<% provide(:title, "管理人") %>
<left>
<h1>管理人</h1>
<%= image_tag 'tsu.jpg' %>
<h3>
氏名：<a href="https://www.facebook.com/tsutomu.kurafuji" target="_blank" >藏藤 勉（Tsutomu Kurafuji）</a><br>
生年月日：1988年10月17日 29歳<br>
出身地：<a href="https://www.google.co.jp/maps/place/%E7%86%8A%E6%9C%AC%E7%9C%8C%E8%8F%8A%E6%B1%A0%E9%83%A1%E5%A4%A7%E6%B4%A5%E7%94%BA/@32.871848,130.615483,10.29z/data=!4m5!3m4!1s0x3540e12e7cfb3d5f:0x7c9b194d2b029bf6!8m2!3d32.8785037!4d130.8683118" target="_blank">熊本県菊池郡大津町</a><br>
愛車遍歴：Ape,JADE,SPADA,DAX,CB400SS,NC700X<br><br>
自己紹介<br>

熊本県出身の29歳<br>
ホンダで働く父の影響で小さい頃からバイクやクルマが身近な環境で育つ。<br>
幼少期は阿蘇の麓に位置する<a href="http://www.town.ozu.kumamoto.jp/" target="_blank"> 大津（おおづ）町</a>で過ごし、<br>
小６に上がるときに転勤で東京進出。<br>
高校1年で原付免許を取得してからバイクにとてつもなく興味を示し、<br>
この道しかない！と思いホンダが経営する自動車整備の専門学校<a href="http://www.hondacollege.ac.jp/honda_e/" target="_blank"> ホンダ学園</a>へ進学。<br>
父と同じホンダのエンジニアを志す。<br>      
卒業後はホンダの二輪販売会社で品質管理、<a href="http://www.dream-kantou.co.jp/sayama/" target="_blank"> ホンダドリーム狭山</a>でのサービスエンジニアとして勤務<br>
<br>
現在はIT業界に転職し、フリーランスエンジニアとして活躍中（１期目）<br>
夢はバイクで日本を旅すること。（一番行きたいのは<a href="https://www.env.go.jp/park/guide/kuju/recommend/10.html" target="_blank"> やまなみハイウェイ！</a>）<br>
現在欲しいバイクは<a href="http://www.honda.co.jp/VFR800F/" target="_blank"> VFR800F</a>と<a href="http://www.honda.co.jp/CBR250RR/" target="_blank"> CBR250RR</a><br>

</left>
</h3>