<% provide(:title, "管理人") %>
<left>
<h1>管理人</h1>
<%= image_tag 'tsu.jpg' %>
<h3>
氏名：<a href="https://www.facebook.com/tsutomu.kurafuji" target="_blank" >藏藤 勉（Tsutomu Kurafuji）</a><br>
生年月日：1988年10月17日 29歳<br>
出身地：熊本県菊池郡大津町</a><br>
愛車遍歴：Ape,JADE,SPADA,DAX,CB400SS,NC700X<br><br>
自己紹介<br>

熊本県出身の29歳<br>
ホンダで働く父の影響で小さい頃からバイクやクルマが身近な環境で育つ。<br>
高校1年で原付免許を取得してからバイクにとてつもなく興味を示し、<br>
この道しかない！と思いホンダが運営する自動車整備の専門学校へ進学。<br>
卒業後はホンダの二輪販売会社で品質管理、ホンダドリーム狭山でのサービスエンジニアとして勤務<br>
<br>
現在はIT業界に転職し、フリーランスエンジニアとして活躍中（１期目）<br>
夢はバイクで日本を旅すること。（一番行きたいのは やまなみハイウェイ!）<br>
現在欲しいバイクはVFR800FとCBR250RR<br>

</left>
</h3>