<% provide(:title, 'リンク') %>
<h1>リンク</h1>
<p>
  <h2>国内４大メーカー！</h2>
  <center>
  <a href="http://www.honda.co.jp/motor/" target="_blank">世界のHonda!!</a><br>
  <a href="https://www.yamaha-motor.co.jp/" target="_blank">デザインのYAMAHA!!</a><br>
  <a href="http://www1.suzuki.co.jp/motor/" target="_blank">変態のSUZUKI!!</a><br>
  <a href="https://www.kawasaki-cp.khi.co.jp/" target="_blank">漢、KAWASAKI!!</a>
  
  <h2>個性派ぞろい海外メーカー！</h2>
  <a href="www.ducati.co.jp/" target="_blank">Ducati</a><br>  
  <a href="http://www.harley-davidson.com/content/h-d/ja_JP/home.html" target="_blank">Harley Davidson</a><br>
  <a href="www.ktm.com/jp/" target="_blank">KTM</a><br>
  <a href="www.bmw-motorrad.jp/" target="_blank">BMW</a><br>  
  <a href="aprilia-japan.com/" target="_blank">aprilia</a><br>  
  <a href="www.piaggio.co.jp/" target="_blank">Piaggio</a><br>  
  <a href="motoguzzi-japan.com/" target="_blank">motoguzzi</a><br>  
  <a href="vespa-japan.com/" target="_blank">vespa</a><br>  
  <a href="www.mv-agusta.jp/" target="_blank">MV Agusta</a><br>  
  <a href="www.triumphmotorcycles.jp/" target="_blank">TRIUMPH</a><br>  
  <a href="www.husqvarna-motorcycles.com/jp/" target="_blank">Hasqvarna</a>
  
    <h2>バイク探し</h2>
  <a href="www.goobike.com/index.html" target="_blank">GooBike</a><br>  
  <a href="www.bikebros.co.jp/" target="_blank">BikeBros.</a>
  
    <h2>パーツ探し</h2>  
  <a href="https://driverstand.com/tenpo/top/index2.html" target="_blank">２りんかん</a><br>  
  <a href="https://www.naps-jp.com/" target="_blank">NAP'S</a>
  
    <h2>サーキット</h2>    
  <a href="www.suzukacircuit.jp/" target="_blank">鈴鹿サーキット</a><br>  
  <a href="www.twinring.jp/" target="_blank">ツインリンクもてぎ</a><br>  
  <a href="https://www.jasc.or.jp/" target="_blank">筑波サーキット</a><br>  
  <a href="www.klk.co.jp/" target="_blank">本庄サーキット</a><br>  
  <a href="www.sodegaura-forest-raceway.com/" target="_blank">袖ヶ浦フォレストレースウェイ</a>

</center>
</p>