<% provide(:title, "ツーリングマップ") %>
    <h1>管理人おすすめツーリングスポット</h1>
<div style="background-image:url(<%= asset_path "chojabaru.png" %>)">


    <p>超パワースポット！<a href="www.mitsuminejinja.or.jp/ " target="_blank">三峯神社</a>（埼玉県秩父市）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32915.850708277176!2d138.9205392347474!3d35.932126829251914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018da6838a11a31%3A0xafd3520fa36b68df!2z5LiJ5bOv56We56S-!5e0!3m2!1sja!2sjp!4v1512050654184" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>夜明け１時間前から夜中まで入れます！<a href="www.hottarakashi-onsen.com/" target="_blank">ほったらかし温泉</a>（山梨県笛吹市）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d67735.43270789344!2d138.63469959418015!3d35.706451891872526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601bff27079c4aa7%3A0xc62757f0b6ec078d!2z44G744Gj44Gf44KJ44GL44GX5rip5rOJ!5e0!3m2!1sja!2sjp!4v1512050602647" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>休憩にちょうどいい！笑<a href="https://www.water.go.jp/kanto/arakawa/takizawa/kengaku.html" target="_blank">滝沢ダム</a>（埼玉県秩父市）</p>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d141594.59036624545!2d138.8019048517016!3d35.964220920197285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601eb036767126cf%3A0x1c95e9ca1c8d883f!2z5rud5rKi44OA44Og!5e0!3m2!1sja!2sjp!4v1512050524885" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p><a href="www.muse-park.com/" target="_blank">秩父ミューズパーク</a>（埼玉県秩父市）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39524.20690230187!2d139.0304266109564!3d35.993017520409786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ec9e5b7d2d939%3A0x25189b723a9bff8d!2z56ep54i244Of44Ol44O844K644OR44O844Kv!5e0!3m2!1sja!2sjp!4v1512050772634" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>芝桜の名所！<a href="https://navi.city.chichibu.lg.jp/p_flower/1808/" target="_blank">羊山公園</a>（埼玉県秩父市）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16934.105710468204!2d139.08254070522966!3d35.98495139719181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ecbce6d339ac1%3A0x1b343941c1f4188!2z576K5bGx5YWs5ZyS!5e0!3m2!1sja!2sjp!4v1512050854193" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>豚みそ丼が有名！<a href="www.butamisodon.jp/" target="_blank">お食事処のさか</a>（埼玉県秩父市）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5329.55539523922!2d139.08183541311743!3d35.987702496062056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ecbd313d8c873%3A0x9dbfef7aafa5e3cf!2z44GK6aOf5LqL5YemIOmHjuOBleOBiw!5e0!3m2!1sja!2sjp!4v1512050967276" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p><a href="www.kanko-ogano.jp" target="_blank">小鹿野（おがの）名物わらじかつ丼の有名店！</a>（埼玉県秩父郡小鹿野町）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d11206.62966279143!2d139.00132554437513!3d36.01952123456552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z44KP44KJ44GY44GL44Gk5Li8!5e0!3m2!1sja!2sjp!4v1512051105234" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>２９９の定番休憩スポット！ <a href="www.yokoze.org/shisetsu/michinoeki_kajukoen_ashigakubo/" target="_blank">道の駅芦ヶ久保</a>（埼玉県秩父郡横瀬町）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29116.224838599122!2d139.1210606549115!3d35.98210614409812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ecc89b9b3d1a3%3A0xde6803fddad36788!2z6YGT44Gu6aeFIOaenOaoueWFrOWckuOBguOBl-OBjOOBj-OBvA!5e0!3m2!1sja!2sjp!4v1512051252957" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>バイク弁当！！ <a href="https://www.bikebento.jp/" target="_blank">大滝食堂</a>（埼玉県秩父市）</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19611.42913662315!2d138.93442288181828!3d35.95214190230247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601eb1154d52cd39%3A0x9ea727de1a43a91e!2z44OQ44Kk44Kv5byB5b2T44Gu5aSn5rud6aOf5aCC!5e0!3m2!1sja!2sjp!4v1512051326046" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>R299を一本外れた先 心霊スポットらしい。。。 <a href="https://ja.wikipedia.org/wiki/顔振峠" target="_blank">顔振（こうぶり）峠 </a>（埼玉県飯能市）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d28399.566129748477!2d139.23844193517334!3d35.924183381940196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z6aGU5oyv5bOg!5e0!3m2!1sja!2sjp!4v1512051395236" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>山の上にある、のどかな牧場！！<a href="https://www.pref.saitama.lg.jp/kogen-bokujo/" target="_blank">埼玉県秩父高原牧場</a>（埼玉県秩父郡東秩父村）</p> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15967.526621197538!2d139.1575302447607!3d36.05085077421846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z56ep54i254mn5aC0!5e0!3m2!1sja!2sjp!4v1512051568538" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>