<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<%= will_paginate(:previous_label => '前', :next_label => '次') %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate(:previous_label => '前', :next_label => '次') %>