<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>
<div style="background-image:url(<%= asset_path "bike.png" %>)">

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>