<footer class="footer">
  <small>
   <a>Create</a>
    by <a href="https://www.facebook.com/tsutomu.kurafuji" target="_blank" >Tsutomu Kurafuji</a>
  </small>
      <ul>
      <li><%= link_to "管理人の紹介",   about_path %></li>
      </ul>
</footer>

